<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>143619096153-9kjieru7qtgj45r0dvlthmicmo6qip48.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.143619096153-9kjieru7qtgj45r0dvlthmicmo6qip48</string>
	<key>API_KEY</key>
	<string>AIzaSyAedpz0Je0Cp3XfME3iudR_JFRZi6oYT48</string>
	<key>GCM_SENDER_ID</key>
	<string>143619096153</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>sg.com.missingems.SGBusTime</string>
	<key>PROJECT_ID</key>
	<string>sgbustime-15b1c</string>
	<key>STORAGE_BUCKET</key>
	<string>sgbustime-15b1c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:143619096153:ios:b26fca0895034040e7bb48</string>
	<key>DATABASE_URL</key>
	<string>https://sgbustime-15b1c.firebaseio.com</string>
</dict>
</plist>